body,
html {
	padding: 0;
	margin: 0;
	//background-color: #333333;
	font-size: 13px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
	box-sizing: border-box;
}

body {
	h1 {
		margin: 0;
	}
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	//width: 100vw;
	height: 100vh;
	flex-wrap: wrap;
	flex-direction: column;
	label {
		font-size: 15px;
	}
}

#app,
#adress,
#topic,
#content {
	border: 2px rgba(54, 54, 54, 0.184) solid;
	display: block;
	flex-basis: 100%;
	padding: 15px;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.075) 0 0 20px;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: left;
	gap: 40px;
	button {
		position: relative;
		overflow: hidden;
		&::after {
			transform: translate(-150%);
			position: absolute;
			top: 0;
			left: 0;
			padding: 0 5px;
			background-color: white;
			color: black;
			content: '+';
			font-size: 20px;
			border-radius: 0 0 5px 0;
			font-weight: bold;
			opacity: 80%;
			box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
				rgba(0, 0, 0, 0.22) 0px 10px 10px;
			transition: 0.3s;
		}
		&:hover {
			background-color: gray;
			//color: white;
			&::after {
				transform: none;
			}
		}
	}
}

.options-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 5px;
	border: rgba(0, 0, 0, 0.13) 2px solid;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.02);
	div {
		font-size: 20px;
	}
	button {
		color: black;
		flex: 1 1 20%;
		max-width: max-content;
		border: 1px rgba(128, 128, 128, 0.253) solid;
		border-radius: 10px;
		padding: 15px;
		background-color: transparent;
		transition: 0.1s;
		background-color: rgb(235, 235, 233);
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
		cursor: pointer;
		transition: box-shadow 0.3s, transform 0.6s ease-out,
			background-color 0.2s;
		&:hover {
			background-color: gray !important;
			color: white;
			//text-shadow: black 1px 1px 2px;
			box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
			transform: scale(0.95);
			&::after {
				transform: none;
			}
		}
	}
}

.option-reset {
	background-color: white;
	border: 1px rgba(0, 0, 0, 0.273) solid;
	color: black;
	padding: 5px;
	border-radius: 10px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.3s;
	&:hover {
		transform: scale(1.05) rotate(-360deg);
		border-radius: 50px;
	}
}

#app {
	margin: 15px;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	max-height: 70vh;
	overflow-y: auto;
	input {
		width: 100%;
		font-size: 20px;
	}
	max-width: 1600px;
	background-color: rgba(255, 255, 255, 1);
}

#mailBody {
	max-height: 50vh;
	min-height: 90px;
	width: 100%;
	resize: vertical;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	overflow-y: auto;
}

.confirm-buttons {
	display: flex;
	gap: 10px;
	//width: 95%;
	button {
		cursor: pointer;
		flex: 1 1 0;
		max-width: unset;
		background-color: rgb(120, 121, 121);
		color: white;
		font-weight: bold;
		font-size: 15px;
		background-color: #fa6400;
		&:hover {
			transform: translate(0, -2px);
		}
	}
}

.name-box {
	border: lightgray 3px dashed;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	padding: 15px;
	transition: box-shadow 0.5s, border 0.1s;
	font-size: 16px;
	&:hover {
		box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
			rgba(0, 0, 0, 0.22) 0px 15px 12px;
		border: 3px gray solid;
	}
}

.copy-animation {
	animation: copied 1s ease-in-out;
}

@keyframes copied {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	5% {
		transform: scale(0.98);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.website-bottom {
	padding: 15px;
	footer {
		display: flex;
		gap: 5px;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		h2 {
			flex-basis: 100%;
			text-align: center;
		}
	}
	a {
		max-height: 30px;
		background-color: white;
		border-radius: 5px;
		border: 1px lightgray solid;
		text-decoration: none;
		padding: 5px 15px;
		color: purple;
		transition: 0.3s;
		flex: 0 1 100px;
		text-align: center;
		&:hover {
			box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
		}
	}
}

.enabled-choice {
	background-color: transparent;
	border: none;
	display: flex;
	flex-wrap: nowrap;
	transition: 0.5s;
	animation: enabled-anim 1s;
	align-items: center;
	.option-reset {
		height: fit-content;
		border-radius: 50px;
	}
}

.disabled-choice {
	animation: enabled-anim 1s;
}

@keyframes enabled-anim {
	from {
		opacity: 0;
		transform: scale(0.7);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

/* custom scrollbar */
::-webkit-scrollbar {
	width: 20px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #d6dee1;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #a8bbbf;
}

@media (max-width: 600px) {
	h1 {
		font-size: 21px;
	}
	.options-wrapper {
		max-height: 20vh;
		overflow-y: auto;
		//margin: 0 20px;
		button {
			flex: 1 1 45%;
			max-width: 50vw;
			min-width: fit-content;
		}
		max-width: 92vw;
		margin: auto;
		flex-wrap: nowrap;
	}
	#app {
		margin: 10px 5px;
		gap: 8px;
		padding: 5px;
		section {
			box-shadow: none;
			padding: 0;
			border: none;
			* {
				font-size: 13px;
			}
			.material-icons-outlined {
				font-size: 20px;
			}
		}
		max-height: 50%;
	}
	#content {
		gap: 10px;
	}
	body {
		flex-wrap: nowrap;
		gap: 0px;
		height: fit-content;
	}
	.website-bottom {
		padding-top: 0;
	}
	.confirm-buttons {
		button {
			flex: 1 1 10%;
		}
		height: fit-content;
		max-height: unset;
		overflow: visible;
	}
}

.tooltip {
	position: absolute;
	top: -10px;
	left: 0;
	width: 100%;
	height: fit-content;
	font-size: 13px !important;
	transform: translate(0, -100%);
	background-color: white;
	border: 2px rgba(128, 128, 128, 0.178) solid;
	border-radius: 8px;
	padding: 5px;
	color: black;
	font-weight: normal;
	box-shadow: rgb(38, 57, 77) 0px 10px 30px -10px;
	animation: tooltip-animation 2s ease-in-out forwards;
}

@keyframes tooltip-animation {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
